
###### Requirements without Version Specifiers ######
#assuming a kali host

#python-docx: https://pypi.python.org/pypi/python-docx
#shodan: https://github.com/achillean/shodan-python
#google: https://pypi.python.org/pypi/google, also installs beautifulsoup
#pyPdf: https://pypi.python.org/pypi/pyPdf


python-docx
shodan
google
pypdf
urllib3>=2.2.2 # not directly required, pinned by Snyk to avoid a vulnerability
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
